:root {
    --primary-color: #d35649;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-purple: #575a89;
    --light-gray: #eee;
}

.bg-prim {
    background-color: var(--primary-color);
}

.bg-black {
    background-color: #000;
}

.bg-gray-footer {
    background-color: var(--gray-footer);
}

.text-prim {
    color: var(--primary-color);
}

.text-lgray {
    color: var(--light-gray);
}

.footer-icon,
.header-icon {
    width: 30px;
    height: 30px;
}

.bottom-link,
.footer-link {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    justify-content: center;
}

.footer-link li {
    padding: 0.2rem;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.bottom-link li {
    padding-left: 2rem;
}

#localisation {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
}

#localisation img {
    top: 10%;
    width: 100%;
    position: relative;
}